LoginScreenTutorial.xcodeproj/project.xcworkspace/xcuserdata
LoginScreenTutorial.xcodeproj/project.xcworkspace/xcuserdata/tfr.xcuserdatad/UserInterfaceState.xcuserstate
LoginScreenTutorial.xcworkspace/xcuserdata/tfr.xcuserdatad/UserInterfaceState.xcuserstate
Pods/
.DS_Store
